.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 20px;
    min-height: 70vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}